/*
  *** TODO: fill in your header ***
  INSERT YOUR NAME HERE
  INSERT THE CURRENT DATE HERE

  WRITE A 2-3 SENTENCE FILE DESCRIPTION HERE
*/

/*
  Note: This body rule set is to get you started
*/
body {
  background-color: rgb(110, 127, 193);
  font-family: "Helvetica", sans-serif;
}

img{
  width: 40%;
  height: 40%;
}
.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  display: block;
  width: 200px;
  height: 1000px;
  margin-right: 5%;
  float: left;
  background-color: rgb(34, 108, 97);
}
section{
  margin-left: 10%;
  margin-top: 5%;
}